.container {
  max-width: 600px;
  margin: auto;
  padding: 20px;
  /* border: 1px solid #ccc; */
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.upload-section {
  margin-top: 20px;
}

.upload-section h3 {
  margin-bottom: 10px;
}

.upload-section label {
  display: block;
  margin-bottom: 10px;
}

.upload-section input[type="file"] {
  display: none;
}

.upload-section button {
  padding: 8px 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.upload-section button:hover {
  background-color: #0056b3;
}

.uploaded-files-section {
  margin-top: 20px;
}

.uploaded-files-section h3 {
  margin-bottom: 10px;
}

.uploaded-files-section ul {
  list-style-type: none;
  padding: 0;
}

.uploaded-files-section li {
  margin-bottom: 5px;
}
